.lyrics {
  display: flex;
  min-height: 100vh !important;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: serif;
  hanging-punctuation: first force-end last;
  hyphens: manual;
  word-break: normal;
}
