@import '../variables.module';

.article {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

    @media #{$large} {
        margin: 3em 0 0;
    }
}

.photoAlbumCoverWithTitle {
    position: relative;
    margin: 1em;
}

.item {
    display: flex;
    width: 90vw;
    height: 55vw;
    flex-shrink: 0;
    padding: 0.5em;

    @media #{$large} {
        width: 20.5em;
        height: 12.5em;
    }
}

.title {
    position: absolute;
    bottom: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #f0f0f0;
    font-family: 'Hagin Caps', sans-serif;

    span {
        padding: 0 1em;
    }
}

.img {
    width: 100%;
}

.wrapper {
    width: 100%;
}
