@font-face {
    font-family: 'Hagin Caps';
    src: url('hinted-HaginCapsThin.eot');
    src: local('Hagin Caps Thin'), local('HaginCapsThin'),
        url('hinted-HaginCapsThin.eot?#iefix') format('embedded-opentype'),
        url('hinted-HaginCapsThin.woff2') format('woff2'),
        url('hinted-HaginCapsThin.woff') format('woff'),
        url('hinted-HaginCapsThin.ttf') format('truetype'),
        url('hinted-HaginCapsThin.svg#HaginCapsThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hagin Caps';
    src: url('hinted-HaginCapsMedium.eot');
    src: local('Hagin Caps Medium'), local('HaginCapsMedium'),
        url('hinted-HaginCapsMedium.eot?#iefix') format('embedded-opentype'),
        url('hinted-HaginCapsMedium.woff2') format('woff2'),
        url('hinted-HaginCapsMedium.woff') format('woff'),
        url('hinted-HaginCapsMedium.ttf') format('truetype'),
        url('hinted-HaginCapsMedium.svg#HaginCapsMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

