//
// Lyrics
// Strusture:
//   <section class="lyrics">//for full (not at all) lyrics
//     <article class="lyrics__text">//for text itself
//       <header class="lyrics__subtitle"></header>//just header h2 if needed
//       <section class="lyrics__stanza"></section>//for part of text
//     </article>
//   </section>
// class="lyrics_italic"//for epigraph etc.
//

.lyrics {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  &__ul {
    li {
      list-style-type: none;
      text-align: center;

      a {
        color: $black;
        font-family: $hagin;
      }
    }
  }

  &__title {
    font-family: $hagin;
    font-size: 2em;
    line-height: 1.25;
    text-align: center;
  }

  &__subtitle {
    @extend .lyrics__title;

    font-size: 1.5em;

    &_little {
      font-size: 1em;
    }
  }

  &_italic {
    font-style: italic;
  }

  &__text {
    align-self: center;
    margin: auto;
  }

  &_margin-top {
    margin-top: 1em;
  }

  &_margin-bottom {
    margin-bottom: 1em;
  }

  &_margin-top-big {
    margin-top: 3em;
  }

  &_margin-bottom-big {
    margin-bottom: 3em;
  }
}
