//
// Lyrics
// Strusture:
//   <section class="lyrics">//for full (not at all) lyrics
//     <article class="lyrics__text">//for text itself
//       <header class="lyrics__subtitle"></header>//just header h2 if needed
//       <section class="lyrics__stanza"></section>//for part of text
//     </article>
//   </section>
// class="lyrics_italic"//for epigraph etc.
//

.lyrics {
  &__ul {
    li {
      list-style-type: none;
      text-align: center;

      a {
        color: $black;
        font-family: $hagin;
      }
    }
  }

  h1 {
    font-family: $hagin;
    font-weight: 400;
    text-align: center;
  }

  h3 {
    @extend h1;
  }
}
