html {
  background-color: $white;
  color: $black;
  font-family: serif;
  font-weight: 400;
  hanging-punctuation: first force-end last;
  hyphens: auto;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $black;
  color: $white;
}

*:link,
*:visited,
*:active {
  color: $black;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Hagin Caps", serif;
  font-weight: 400;
  text-align: center;
}
