html {
  background-color: $white;
  color: $black;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $black;
  color: $white;
}

*:link,
*:visited,
*:active {
  text-decoration: none;
}

// Class for "main"-selector
.main {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  padding: $sidebar-toggle-checkbox-size $sidebar-toggle-checkbox-size * 3.5;
  font-family: serif;
  font-size: $main-font-size;
  hyphens: auto;
  line-height: $main-font-size * 1.5;

  @media all and (orientation: landscape) {
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: $sidebar-toggle-checkbox-size_landscape * 3;
    font-size: $main-font-size_landscape;
    line-height: $main-font-size_landscape * 1.25;
  }
}
