html {
  position: relative;
  min-height: 100%;
  background-color: $white;
  color: $black;
  font-family: serif;
  font-feature-settings: "liga" 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures
    historical-ligatures contextual;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  margin-bottom: 5rem;
}

*::selection {
  background-color: $black;
  color: $white;
}

*:link,
*:visited,
*:active {
  color: $black;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Hagin Caps", serif;
  font-weight: 400;
  text-align: center;
}
