h1 {
  margin-top: 0.7504em;
  margin-bottom: 0;
  font-size: 1.999em;
  line-height: 1.5008em;
}

h2 {
  margin-top: 1.0608em;
  margin-bottom: 0;
  font-size: 1.414em;
  line-height: 1.0608em;
}

a,
li,
p {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.5em;
}
