// Position and sizing of burger button
.bm-burger-button,
.bm-icon {
  position: fixed;
  top: $hamburger-button-height-width-left-top-size;
  left: $hamburger-button-height-width-left-top-size;
  width: $hamburger-button-height-width-left-top-size * 2 !important;
  height: $hamburger-button-height-width-left-top-size * 2 !important;
}

// Color/shape of burger icon bars
.bm-burger-bars {
  background: $black;
}

// General sidebar styles
.bm-menu {
  background-color: $black;
  color: $white;
}

// Wrapper for item list
.bm-item-list {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  font-family: $hagin;
  font-size: 2rem;
  justify-items: center;

  *:link,
  *:visited,
  *:active {
    color: $white;
    text-decoration: none;
  }

  a {
    margin-bottom: 1.5rem;
  }

  address {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;

    svg {
      width: 2rem;
      height: 2rem;
      margin: 0.5rem 1rem;
    }
  }
}

// Styling of overlay
.bm-overlay {
  background: rgba(0, 0, 0, 0.75) !important;
}
