// Logo and title's font
$hagin: "Hagin Caps", serif;


//
//Colors
//

//Dark
$black: rgba(10, 10, 10, 1);
$black-for-toc-tooltip: rgba(71, 71, 71, 1);

//Light
$white: rgba(240, 240, 240, 1);
$white-for-toc-tooltip: rgba(200, 200, 200, 1);

//
// Sizes
//

$main-font-size: 5vw;

$main-font-size_landscape: 2.5vw;

$hamburger-button-height-width-left-top-size: 1.25rem;

$sidebar-toggle-checkbox-size: 8vw;

$sidebar-toggle-checkbox-size_landscape: 3vw;

$sidebar-toggle-width: 75vw;

$sidebar-toggle-width_landscape: 50vw;

$tree-with-grass__tree-size: 30vw;

$tree-with-grass__tree-size_landscape: 20vw;

$sidebar-toggle__animation: all 0.25s linear;

$toc-indicator-size: 2.5vh;
