@import '../variables.module';

.article {
    padding: 0 2em;

    @media #{$large} {
        width: 37.5em;
    }
}

.h1 {
    font-family: 'Hagin Caps', sans-serif;
    font-size: 1.5em;
    text-align: center;

    @media #{$large} {
        font-size: 2em;
    }
}

.ul {
    font-family: serif;
}

.pdfImg {
    width: 1em;
    margin-left: 0.25em;
}

.p {
    font-family: serif;
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    text-decoration: none;
}

.span {
    color: #0a0a0a;
    text-decoration: none;
}
