.toc {
  display: flex;
  min-height: 100vh !important;
  align-items: center;
  justify-content: center;
}

.link {
  font-family: "Hagin Caps", serif;
  font-size: 2rem;
  list-style: none outside;
  text-align: center;
}

.list {
  padding: 2.25rem 0 0;
  list-style: none;
}

.listDesktop {
  padding: 5.75rem 0 0;
  list-style: none;
}
