@import '../variables.module';

.article {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 1em 0 0;
}

.photoAlbumCoverWithTitle {
    position: relative;
    margin: 1em 0 0;

    @media #{$large} {
        margin: 1em 1em 0 0;
    }
}

.item {
    display: flex;
    width: 90vw;
    height: 55vw;
    flex-shrink: 0;

    @media #{$large} {
        width: 30em;
        height: 20em;
    }
}

.title {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 0.5em;
    background-image: linear-gradient(to bottom, rgba(222, 222, 222, 0), rgba(0, 0, 0, 0.24));
    color: #f0f0f0;
    font-family: 'Hagin Caps', sans-serif;
    text-shadow: 0.0625em 0.0625em 0.25em rgba(0, 0, 0, 0.75);

    span {
        padding: 0 1em;
    }
}

.wrapper {
    width: 100%;
    border-radius: 0.1875em;
}
