@import "../variables.module";

.header {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background: url("/vectors/caddyColor.svg") no-repeat;
  background-position: center -5em;
  background-size: 100%;
  clip-path: circle(100% at 50% -10em);

  @media #{$medium} {
    background-position: center -30em;
    clip-path: circle(90% at 50% -15em);
  }

  @media #{$large} {
    height: 90vh;
    background-position: center -10em;
    clip-path: circle(80% at 20% 0);
  }
}

.nav {
  width: 100%;
  height: 4.625em;
  border-bottom: 0.0625em solid rgba(240, 240, 240, 0.1);
}

.ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Hagin Caps", sans-serif;
  list-style: none;
  text-decoration: none;

  a {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    svg {
      width: 2em;
      height: 2em;
      fill: #f0f0f0;
    }

    span {
      color: #f0f0f0;
      font-size: 0.625em;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  img {
    width: 2em;
    height: 2em;
  }
}
