$size: 1.75rem;

$size2: $size * 1.5;

$hagin: "Hagin Caps", serif;

$white: rgba(240, 240, 240, 1);

$black: rgba(10, 10, 10, 1);

.button {
  position: fixed;
  top: $size * 1.25;
  left: $size * 1.25;
  width: $size !important;
  height: $size !important;
}

.buttonDesktop {
  position: fixed;
  top: $size2 * 2;
  left: $size2 * 2;
  width: $size2 !important;
  height: $size2 !important;
}

.burger {
  background: $black;
}

.menu {
  background-color: $black;
  color: $white;
}

.links {
  display: flex !important;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  font-family: $hagin;
  font-size: 2rem;
  justify-items: center;

  *:link,
  *:visited,
  *:active {
    color: $white;
    text-decoration: none;
  }
}

.linksDesktop {
  @extend .links;

  font-size: 3rem;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: $black;
  color: $white;
  font-family: $hagin;
  font-size: 2rem;
  justify-items: center;

  address {
    display: flex !important;
    max-width: 60%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
      width: 2rem;
      height: 2rem;
      margin: 0.5rem;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.75) !important;
}
