$small: 'screen and (max-width: 39.9375em)';

$medium: 'screen and (min-width: 40em) and (max-width: 63.9375em)';

$large: 'screen and (min-width: 64em)';

h1 {
    margin-top: 0.7504em;
    margin-bottom: 0;
    font-family: 'Hagin Caps', sans-serif;
    font-size: 1.999em;
    line-height: 1.5008em;
    text-align: center;
}

h2 {
    margin-top: 1.0608em;
    margin-bottom: 0;
    font-family: 'Hagin Caps', sans-serif;
    font-size: 1.414em;
    line-height: 1.0608em;
    text-align: center;
}

p {
    margin-top: 1.5em;
    margin-bottom: 0;
    font-family: serif;
    font-size: 1em;
    line-height: 1.5em;
}
